
body {
    background-color: #99ffff;
    font-family:Verdana;
}

header {
        text-align: center;
        font-size: .75rem;
}

main {
    text-align: center;
    margin-bottom: 6rem;
}

article {
    text-align: center;
    margin-bottom: 6rem;

}

img {
    display: block;
    margin: auto;
    height: 24rem;
    width: 18rem;
}

a {
    text-decoration:none;
    color:black
}
a:hover {
    text-decoration: underline;
    color: blue;
}

footer {
    text-align: center;
    font-size: .75em;
}
.meet_kids {
    color: #000099;
    font-size: 2rem;
    text-align: center;
}

#tribe {
    height: 30rem;
    width: 40rem;
}

#kids {
    height: 18rem;
    width: 24rem;
}
